
/* Course Topics */
.course__topics{
    background-color: rgba(244, 255, 255, 0.521);
    border-bottom: 1px solid rgb(214, 218, 217);
    padding: 20px;
}
.course__details{
    margin-left: 40px;
}
.course__details h2{
    font-size: 50px;
}
.course__details--all > div{
    padding: 5px 0;
    font-size: 18px;
}
.subject__details span{
    padding: 5px 8px; 
    margin: 5px;
    margin-left: 0;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 4px;
}
.special span{
    font-weight: bold;
    color: rgb(6, 11, 24);
}

/* Chapters Section Style */
.chapters__box{
    background-color: #fff;
    padding: 20px;
}
.chapters__head h2{
    text-align: left;
    margin-left: 40px;
    font-size: 32px;
}
.chapters__name{
    padding: 0 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.chapters__name--single{
    border-top: 6px solid rgb(22, 102, 102);
    border: 1px solid transparent;
    width: 330px;
    height: 130px;
    margin: 20px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(185, 181, 181, 0.459);
    overflow: hidden;
}
.chapters__name--single:hover{
    box-shadow: 0 10px 14px 0 rgba(223, 210, 210, 0.459);
}
.chapters__name--single:nth-child(even){
    border-top: 6px solid rgb(245, 43, 218); 
}
.chapters__name--single:nth-child(odd){
    border-top: 6px solid rgb(17, 62, 209); 
}
.chapters__name--single a{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-decoration: none;
}
.chapters__name--single a h3{
    padding: 0;
    color: rgb(7, 15, 31);
    font-size: 22px;
    margin-bottom: 10px;
}
.chapters__name--single a ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chapters__name--single a ul li{
    padding: 5px;
    margin: 5px;
    color: rgb(131, 143, 131);
    border: 1px solid rgba(218, 213, 213, 0.829);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    height: 28px;
    word-break: break-all;
    overflow: hidden;
    width: auto;
    text-align: center;
}

@media (max-width : 1220px){
    .chapters__name{
        justify-content: space-around;
    }
}
@media (max-width : 764px){
    .chapters__name{
        justify-content: center;
    }
    .chapters__name--single{
        width: 100%;
    }
}



