

.accordion{
    background-color: rgba(236, 222, 240, 0.74);
}
.accordion ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.accordion ul li{
    padding: 10px;
}
.accordion ul li a{
    padding: 10px;
    text-decoration: none;
    color: rgb(31, 5, 32);
}
.accordion ul li a:hover{
    text-decoration: underline;
    background-color: rebeccapurple;
    color: #fff;
    transition: all .3s;
}


/* Chapter Start Style */
.chapter__start{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 40px;
}
.chapter__start--single{
    padding: 10px;
    border: 1px solid rgba(220, 222, 223, 0.788);
    border-radius: 4px;
    background-color: rgba(229, 231, 231, 0.822);
    margin: 20px;
}
.chapter__discussion{
    width: 70%;
    padding: 20px 50px;
}
.chapter__discussion h2{
    font-size: 32px;
    padding: 16px 0;
    color: rebeccapurple;
}
.chapter__discussion--lists ul{
    list-style: none;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
}
.chapter__discussion--lists ul li{
    position: relative;
    padding: 0 10px 18px 28px;
    width: 50%;
    font-size: 18px;
}
.chapter__discussion--lists ul li i{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
}
.chapter__tools{
    width: 30%;
    padding: 20px 50px;
    height: 100%;
}
.chapter__tools ul li{
    padding: 4px;
}
.chapter__tools ul li a{
    padding: 4px;
    text-decoration: none;
    color: #0c171a;
}
.chapter__tools ul li a:hover{
    text-decoration: underline;
}
@media (max-width : 1200px){
    .chapter__start{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    .chapter__start--single{
        margin: 5px;
    }
    .chapter__discussion{
        width: 100%;
        padding: 16px;
    }
    .chapter__discussion h2{
        font-size: 20px;
    }
    .chapter__discussion--lists ul li{
        font-size: 16px;
        text-align: justify;
    }
    .chapter__discussion--lists ul li{
        width: 90%;
    }
    .chapter__discussion--lists ul li i{
        font-size: 16px;
    }
    .chapter__tools{
        width: 100%; 
        padding: 20px 10px;
    }
    .chapter__tools ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding-top: 10px;
    }
}




/* Intro Styles */
.intro{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.intro__single{
    margin: 5px 0;
    padding: 10px 20px;
    background-color: #fff;
}

.intro__head h2{
    height: 36px;
    line-height: 36px;
    border: none;
    margin: 5px 0;
    font-size: 26px;
    background-color: rgb(57, 223, 235);
    color: #000;
    text-align: left;
    letter-spacing: 1px;
}
.intro__head h2 span{
    padding: 5px 15px;
    background-color: rgb(17, 117, 112);
    color: #fff;
    text-align: center;
}
.intro__content{
    border: 1px solid transparent;
    padding: 5px;
    margin: 5px;
    position: relative;
}
.intro__content h3{
    padding: 5px 0;
    font-size: 20px;
}
.intro__content ul{
    padding-left: 10px 0;
    margin: 20px;
}
.intro__content ul li{
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
}

.def{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ebebeb;
}
.intro__content p{
    font-size: 18px;
    padding: 5px 0;
}
.def p{
    font-size: 18px;
    letter-spacing: 1px;
}
.def p i{
    color: rgb(255, 38, 0);
    font-weight: bold;
}

/* Examples Styling */
.examples__single{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgb(185, 174, 174);
}

.examples__single h1{
    color: rgb(40, 130, 133);
    font-size: 20px;
}

.examples__single h2 .tab__right{
    padding-left: 30px;
    font-style: italic;
    font-weight: 600;
}
.examples__single span.sol{
    color: red;
}
.examples__single .solution{
    padding-left: 10px;
}
@media (max-width : 480px){
    iframe{
        padding: 3px;
        width: 474px;
        height: auto;
    }
    .intro__content img{
        padding: 5%;
        width: 90%;
    }
}





