*{
    padding: 0;
    margin: 0;
}
body{
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;    
    font-family: fira sans, helvetica, arial, sans-serif;
    background-color: #ebebeb;
    min-width: 860px;
    box-sizing: border-box;
}



.btn-light{
    background-color: #fff;
    color: rgba(75, 74, 74, 0.856);
    border-radius: 4px;
    transition: all .3s ease;
}
.btn-light:hover{
    background-color: #ebebeb;
    color: rgba(0, 0, 139, 0.801);
}
.btn-light-block{
    background-color: #fff;
    color: rgba(75, 74, 74, 0.856);
    border-radius: 4px;
    transition: all .3s ease;
    display: block;
    padding: 0 8px;
}
.btn-light-block:hover{
    background-color: #ebebeb;
    color: rgba(0, 0, 139, 0.801);
}
.btn-purple{
    background-color: #6f42c1;
    border-radius: 4px;
    border: 1px solid #6f42c1;
    transition: all .2s;
    box-shadow: 0 1px 2px #6f42c1,inset 0 0 2px rgba(18, 40, 236, 0.486);
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
}
.btn-purple:hover{
    background-color: #6610f2;

}

.btn-green{
    background-color: #34ce58;
    border-radius: 4px;
    border: 1px solid #34ce58;
    transition: all .2s;
    box-shadow: 0 1px 2px #28a745,inset 0 0 2px #28a746cb;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
}
.btn-green:hover{
    background-color: #16c03e;
    border: 1px solid #16c03e;
}
.btn-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new{
    color: #425ef8;
    font-size: 14px;
    padding: 0 8px;
}



.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 55px;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    z-index: 50;
    background: #fff;
}
.nav-box-left{
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
}
.nav-box-right{
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: 55px;
}
.nav-box-right ul li{
    height: 55px;
}
.nav-box-right ul li a img{
    height: 100%;
}
.nav-box-left > ul{
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    list-style: none;
}
.nav-box-left > ul > li{
    padding: 0 20px;
}
.nav-box-left > ul > li > a{
    padding: 6px 10px;
    text-decoration: none;
    font-size: 17px;
    line-height: 55px;
}
.nav-box-left > ul > li > a > i{
    font-size: 60%;
}
.nav-box-left > ul > li:last-child > a{
    background-color: rgb(224, 22, 15);
    color: #fff;
}
.nav-box-right > ul > li{
    display: inline-block;
    line-height: 55px;
    padding: 0 20px;
}
.nav-box-right > ul > li > a{
    padding: 6px 8px;
    text-decoration: none;
    font-size: 17px;
}
.nav-box-right > ul > li{
    display: inline-block;
    line-height: 55px;
    padding: 0 12px;
}





.prel{
    position: relative;
}
.pabs{
    position: absolute;
    top: 90%;
    left: 0;
    width: 200px;
    border: 1px solid rgb(205, 207, 205);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: none;
    z-index: 6000;
}
.nav-box-left > ul > li:hover .pabs{
    display: block;
}
.pabs ul{
    list-style: none;
}
.pabs > ul > li{
    margin: 6px;
    padding: 0;
}
.pabs > ul > li > a{
    text-decoration: none;
    padding: 8px 10px;
}
.pabs > ul > li > a span{
    font-size: 12px;
    color: rgb(107, 2, 2);
    padding: 0 3px;
}

@media (max-width : 840px){
    .nav-box-left > ul > li{
        padding: 0 8px;
    }
    .nav-box-left > ul > li > a{
        padding: 8px 6px;
        font-size: 14px;
    }
    .pabs > ul > li > a{
        padding: 4px 6px;
        font-size: 14px;
    }
}







.section__top{
    padding-top: 55px;
    text-align: center;
    background-color: #fff;
}

.subscribe{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd5d5;
}
.subscribe h2{
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
}
.subscribe p{
    padding: 20px 0;
    font-size: 21px;  
    font-weight: 400;
    line-height: 115%;
    text-align: center;
    width: 40%;
}
.subscribe a{
    border: 1px solid red;
    border-radius: 6px;
    padding: 10px 12px;
    text-decoration: none;
    background-color: rgb(224, 22, 15);
    color: #fff;
    margin-top: 20px;
}